<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" type="text/css" href="../static/main_page_style.css">
</head>

<body>
    {% csrf_token %}
    <header>
        <div id = "cap"></div>
    </header>
    {%block content%}
    
    
        <div id="main_news">
            <div id="img_main_side">
                <img src="{{news.img}}" alt="Main News Image">
            </div>
            <div id="text_main_side">
                <div class="title_space">
                    {{news.title}}
                </div>
                {{news.text}}
            </div>
        </div>
        {% for news in latest_news_list|slice:"1:" %}
        <div class="other_news">
            <div class="img_side"></div>
                <div class="text_side">
                <div class="title_space">
                    {{news.title}}
                </div>
                {{news.text}}
            </div>
        </div>
        <script src="../static/jsfile.js"></script>
        {% endfor %}
    {%endblock%}
</body>
</html>